name: Go Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.23.x"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout tools repo
        uses: actions/checkout@v4
        with:
          repository: config-setup/local-bin
          token: ${{ secrets.GITHUB_TOKEN }}
          path: local-bin

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      # You can test your matrix by printing the current Go version
      - name: Display Go version
        run: go version

      # - name: Install dependencies
      #   run: |
      #     ls -alt
      #     cd dev-server
      #     go get .

      # - name: Test with the Go CLI
      #   run: go test

      - name: Go Build
        run: |
          ls -alt
          go build -o ./local-bin/dev -v ./cmd/dev.go

      - name: Build and push
        run: |
          cd local-bin

          git config user.name "Reggles44"
          git config user.email "reginaldbeakes@gmail.com"

          git add .
          git commit -m "Build and Update dev-server"

      - name: Push Changes
        env:
          TOKEN: ${{ secrets.TOKEN }}
        run: |
          cd local-bin
          git push https://x-access-token:$TOKEN@github.com/config-setup/dev-toolbox.git -vvv
